<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MS SQL Writeback</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://extensions.tableauusercontent.com/resources/tableau.extensions.1.latest.min.js"></script>
    <script src="/index.js" defer></script>
  </head>
  <body>
    Initialized!
  </body>
</html>
